$font-size: 1rem;
$font-color: rgb(105, 40, 49);
$bg: rgb(0, 247, 161);

html {
  font-size: $font-size;
  color: $font-color;
}

body {
  padding: 50px;
    background: $bg;
}

p,li {
    font-size: 50px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    color: $font-color;
}

button {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  font-weight: bold;
  width: 200px;
  height: 30px;
  border-radius: 12px;
  transition:  250ms ease-in-out;

  &:hover{
    cursor: pointer;
    background-color: aqua;
  }
  &:active{
    background-color: rgb(5, 98, 98);
  }
}

input {
  
  font-size: 26px;
  height: 30px;
  border-radius: 10px;
}

.wrapper {
  margin-top: 50px;
  margin: 0 auto;
  padding: 15px;
  width: 600px;
  height: 1000px;
  background: aliceblue;
  border-radius: 20px;
}

li {
  width: 300px;
  background-color: antiquewhite;
  border-radius: 10px;
  border: solid 1px black;
  margin-top: 5px;
  padding-left: 15px;
}